

<h1><%= t('form.title.edit') %></h1>

<%= render 'form', post: @post %>

<%= link_to "#{t 'form.title.show'}", @post, {class: "btn btn-dark"} %>
<%= link_to "#{t 'form.title.back'}", posts_path, {class: "btn btn-dark"}  %> 
