<h1> <%= t('form.button.create') %> </h1>

<%= render 'form', post: @post %>

<%= link_to  "<i class='fa fa-undo' title='#{t 'form.button.back'}'></i>".html_safe, posts_path, {class: "btn btn-dark"}  %>
