// Place all the styles related to the dislikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.like-dislike {
  margin-left: -10px;
  margin-bottom: -6px;
  margin-top: -6px;
  padding: 0;  
}